:root {
  --link-color: #003fff;
  --link-color-hovered: #0036c7;
  --backdrop-color: #edecec;
  --backdrop-color-hovered: #d5d5d5;
  --code-block-background-color: #222431;
  --note-accent-color: #007BFF;
  --note-background-color: #d2e6f7;
  --note-text-color: black;
  --readmore-border-color: #c9cdd0;
}

html.dark {
  --link-color: #77a8fd;
  --link-color-hovered: #5292ff;
  --backdrop-color: #323232;
  --backdrop-color-hovered: #444;
  --note-background-color: #00396b;
  --note-text-color: white;
  --readmore-border-color: #44474f;
}

/* Make content wider (default was 700px) */
.wrapper {
  max-width: calc(900px - (30px * 2));
}

/* Make tags/categories more beautiful than just a list */
html a.tag {
  background-color: var(--backdrop-color);
  color: var(--link-color);
  display: inline-flex;
  padding: 0.4rem 0.8rem;
  border-radius: 16px;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;

  &:hover,
  &:active {
    background-color: var(--backdrop-color-hovered);
    color: var(--link-color-hovered);
  }
}

/* Make iframes look similar (background color, radius) as code sections */
iframe {
  border: none;
  border-radius: .3rem;
  background-color: var(--code-block-background-color);
}

/* Simple readmore shortcut */
html a.readmore {
  color: var(--link-color);
  display: inline-flex;
  align-items: center;
  padding: 0.25em 1em;
  margin: 1em 0;
  text-decoration: none;
  border: 0.2rem solid var(--readmore-border-color);
  border-radius: 10rem;
  transition: color 0.2s ease, border-color 0.2s ease;

  &::before {
    content: "→";
    padding-right: 0.5rem;
  }

  &:hover,
  &:active {
    color: var(--link-color-hovered);
    border-color: var(--link-color-hovered);
  }
}

/* Note shortcode box */
html div.note-box {
  border-left: 7px solid var(--note-accent-color);
  background: var(--note-background-color);
  padding: 1em;
  margin: 1em 0;
  border-radius: 7px;
  color: var(--note-text-color);
}
