/* Make content wider (default was 700px) */
.wrapper {
  max-width: calc(900px - (30px * 2));
}

/* Make tags/categories more beautiful than just a list */
a.tag {
  background-color: #edecec;
  color: #333;
  display: inline-flex;
  padding: 0.4rem 0.8rem;
  border-radius: 16px;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s;

  &:hover,
  &:active {
    background-color: #d5d5d5;
  }
}
/* Tag dark mode overrides */
html.dark a.tag {
  background-color: #323232;
  color: #eaeaea;

  &:hover,
  &:active {
    background-color: #444;
  }
}

/* Make iframes look similar (background color, radius) as code sections */
iframe {
  border: none;
  border-radius: .3rem;
  background-color: #222431;
}

/* Simple readmore shortcut */
a.readmore {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 1rem;
  background: none;
  text-decoration: none;
  border: 0.15rem solid #333;
  border-radius: 10rem;
  transition: color 0.2s ease, border-color 0.2s ease;

  &::before {
    content: "→";
    padding-right: 0.5rem;
  }
}
/* Simple readmore dark mode overrides */
html.dark a.readmore {
  border-color: #eaeaea;
  color: #eaeaea;
}
/* Simple readmore hover overrides */
html a.readmore {
  &:hover,
  &:active {
    color: #5292ff;
    border-color: #5292ff;
  }
}

/* Note shortcode box */
html div.note-box {
  border-left: 4px solid #007BFF;
  background: #d2e6f7;
  padding: 1em;
  margin: 1em 0;
  border-radius: 4px;
  color: black;
}
html.dark div.note-box {
  border-left: 4px solid #007BFF;
  background: #00396b;
  color: white;
}
