{{/*
    Read external file and highlight it depending on the code 'lang' tag
*/}}
{{/*
    Example in a content file which references a file from the static/code/ directory:
    {{< include_code file="c_strings/c_strings_demo.c" lang="c" >}}
*/}}
{{ $file := printf "/static/code/%s" (.Get "file") }}
{{ $lang := .Get "lang" | default "text" }}
{{ $filePath := $file | relURL }}

{{ with readFile (printf "%s" $filePath) }}
    {{ highlight . $lang "" }}
{{ else }}
    {{ warnf "shortcode error 'include_code': file not found %q (source: %q)" $file .Page.File.Path }}
    <pre><code>File not found: {{ $file }}</code></pre>
{{ end }}
